# --- Angular & Node ---
/node_modules
/dist
/out-tsc
/bazel-out

# --- Angular Cache (Important pt Angular 17+) ---
/.angular/

# --- Firebase ---
.firebase/
firebase-debug.log
.firebaserc

# --- Testing & Misc ---
/coverage
.sass-cache/
connect.lock
*.js.map
*.ts.map

# --- Environment Files (Securitate) ---
.env
src/environments/environment.development.ts
# Nota: environment.ts si environment.prod.ts le pastram de obicei, 
# dar daca ai chei secrete reale, ar trebui ignorate si ele.