# --- Maven ---
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# --- Quarkus ---
.quarkus/

# --- Java ---
*.class
*.jar
*.war
*.ear
*.nar

# --- IDE Specific (Backend) ---
.classpath
.project
.settings/
.idea/
*.iml