<div class="container">
  <header>
    <h1>Inflation Hawk 🦅</h1>

    <div *ngIf="authService.user$ | async as user; else loginBtn">
      <span>Salut, {{ user.email }}! </span>
      <button mat-stroked-button color="warn" (click)="logout()">Logout</button>
    </div>
    <ng-template #loginBtn>
      <button mat-raised-button color="primary" (click)="login()">Login cu Google</button>
    </ng-template>
  </header>

  <hr>

  <div *ngIf="authService.user$ | async" class="actions">
    <button mat-raised-button color="accent" (click)="openAddDialog()">
      <mat-icon>add</mat-icon> Adaugă Preț
    </button>
  </div>

  <button mat-raised-button color="primary" (click)="openAlertDialog()">
    <mat-icon>notifications_active</mat-icon> Alerte
  </button>

  <app-price-chart
    [allPrices]="prices"
    [selectedProduct]="selectedProductForChart">
  </app-price-chart>

  <app-price-map [prices]="prices"></app-price-map>

  <h2>📊 Piata in timp real (Click pe card pentru istoric)</h2>

  <div class="price-grid">
    <mat-card *ngFor="let entry of prices" class="price-card cursor-pointer" (click)="selectProduct(entry.productName)">
      <mat-card-header>
        <mat-card-title>{{ entry.productName }}</mat-card-title>
        <mat-card-subtitle>{{ entry.storeName }} - {{ entry.city }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="price-tag">{{ entry.price | number:'1.2-2' }} RON</p>
        <p class="date">Adaugat: {{ entry.createdAt | date:'short' }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <p *ngIf="prices.length === 0">Nu exista date. Fii primul care adauga!</p>
</div>